@import "helper";
@import "iconfont";

body{
  margin: 0;
  color: #666666;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

i{
  font-style: normal;
}

#app{
  height: 100%;
  overflow: auto;
}

.bg-primary{
  background: linear-gradient(60deg,#6d99e1,#5cc6d9);
}

em{
  font-style: normal;
}

p{
  margin: 0;
}

*::-webkit-scrollbar{
  width:0;
}
