.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}


.fs-13{
  font-size: 13px;
  line-height: 18px;
}
.fs-14{
  font-size: 14px;
  line-height: 20px;
}

.tc-3{
  color: #333333;
}
.tc-6{
  color: #666666;
}
.tc-9{
  color: #999999;
}

.d-none{
  display: none;
}
.d-inline{
  display: inline;
}
.d-inline-block{
  display: inline-block;
}
